<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1" />
<link rel="icon" href="favicon.png?v=0"/>
<link rel="manifest" href="./manifest.json?v=0">
<link href="./style.css" rel="stylesheet">
<title>7mins</title>
</head>
<body>
<div id="app">
<top-menu></top-menu>
<section class="app-contents">
    <workout-main
        ref="workoutScreens"
        v-on:go-home="goHome"
        :routine="routine"
        v-if="state === 'workout'"
    ></workout-main>
    <app-start
        v-if="state === 'start'"
        v-on:start-workout="startWorkout"
        :workouts="workouts"
    ></app-start>
</section>
</div>

<script type="text/x-template" id="topMenuTpl">
<div class="top-menu">
I'm tired
</div>
</script>

<script type="text/x-template" id="appStartTpl">
<div>
    <p>Select a workout</p>
    <ol class="workouts-list">
    <li v-for="wo in workouts">
        <button class="workout-trigger" @click="startWorkout(wo)">{{wo.name}}</button>
    </li>
    </ol>
</div>
</script>

<script type="text/x-template" id="workoutTpl">
<div class="workout-content">
    <h1>{{routine.name}}</h1>
    <section v-show="state === 'step' && !!currentStep">
        <p v-if="!!currentStep">{{currentStep.name}}</p>
        <p><button @click="stop">Stop</button></p>
    </section>
    <section v-show="state === 'rest'">
        <p>Resting...</p>
        <p><button @click="stop">Stop</button></p>
    </section>
    <section v-show="state === 'done'">
        <p>Done!!</p>
        <p><button @click="goHome">Go to homepage</button></p>
    </section>
</div>
</script>

<script src="./vue.js"></script>
<script src="./app.js"></script>
<script src="./upup.min.js"></script>
<script>
    UpUp.start({
    'content-url': 'index.html',
    'assets': [
        '/favicon.png?v=0',
        '/manifest.json?v=0',
        '/style.css',
        '/vue.js',
        '/app.js',
        '/upup.min.js'
    ]
   });
</script>
</body>
</html>
