<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1" />
<link rel="icon" href="favicon.svg?v=0"/>
<link rel="manifest" href="./manifest.json?v=1.1">
<link href="./style.css" rel="stylesheet">
<title>7 minute workouts</title>
<meta property="og:site_name" content="I'm tired" />
<meta property="og:title" content="7 minute workouts" />
<meta property="og:url" content="http://imtired.isgeek.net/" />
<meta property="og:type" content="website">
<meta property="og:image" content="http://imtired.isgeek.net/favicon.png">
</head>
<body>
<div id="app">
<top-menu></top-menu>
<section class="app-contents">
    <workout-main
        ref="workoutScreens"
        v-on:go-home="goHome"
        :routine="routine"
        v-if="state === 'workout'"
    ></workout-main>
    <app-start
        v-if="state === 'start'"
        v-on:start-workout="startWorkout"
        :workouts="workouts"
    ></app-start>
</section>
</div>

<script type="text/x-template" id="topMenuTpl">
<div class="top-menu">
    <img class="logo" src="./favicon.svg"/>
I'm tired
</div>
</script>

<script type="text/x-template" id="appStartTpl">
<div>
    <h1>7 minute workout</h1>
    <ol class="workouts-list">
    <li v-for="wo in workouts">
        <button class="workout-trigger" @click="startWorkout(wo)">Start!</button>
    </li>
    </ol>
    <p class="credits" ><a href="http://www.github.com/jjdelc/imtired">Source code on Github</a></p>
</div>
</script>

<script type="text/x-template" id="workoutTpl">
<div class="workout-content">
    <h1 class="workout-header">
        <span>
        {{routine.name}}
            <span class="routine-progress" v-show="currentN > 0">{{currentN}} of {{totalN}}</span>
        </span>
        <button
                v-show="state !== 'done'"
                @click="stop"
        >Stop</button>
    </h1>
    <section class="step-content" v-show="state === 'step' && !!currentStep">
        <div class="progress-container">
        <p
            v-if="!!currentStep"
            :class="timerClass"
            :style="{animationDuration: currentStep.time + 's'}"
        ></p>
        </div>
        <figure class="step-graphic">
            <img v-if="!!currentStep" :src="currentStep.graphic"/>
        </figure>

        <p class="step-name" v-if="!!currentStep">
            {{currentStep.name}}
            ({{timeLeft}}s)
        </p>
    </section>
    <section class="step-content" v-show="state === 'rest'">
        <p class="resting" v-if="!!currentStep">
            Coming up:
            <br/>
            {{currentStep.name}}
            <br/>
            <span class="big-countdown">{{timeLeft}}s</span>
        </p>
        <div class="progress-container">
        <p
            :class="timerClass"
            :style="{animationDuration: routine.rest + 's'}"
        ></p>
        </div>
    </section>
    <section class="step-content" v-show="state === 'warmup'">
        <p class="resting">
            Prepare to begin...
            <br/>
            "{{routine.name}}"
            <br/>
            <span class="big-countdown">{{timeLeft}}s</span>
        </p>
        <div class="progress-container">
        <p
            :class="timerClass"
            :style="{animationDuration: routine.rest + 's'}"
        ></p>
        </div>
    </section>
    <section class="step-content" v-show="state === 'done'">
        <p>Done!!</p>
        <p class="congratulations">Congratulations!</p>
        <p><button @click="goHome">Go to homepage</button></p>
    </section>
</div>
</script>

<script src="./vue.js"></script>
<script src="./app.js?v=1.1"></script>
<script src="./NoSleep.min.js"></script>
<script src="./upup.min.js"></script>
<script>
    UpUp.start({
        'cache-version': 'v1.1',
        'content-url': 'index.html',
        'assets': [
            '/favicon.png',
            '/favicon.svg?v=0',
            '/manifest.json?v=0',
            '/style.css',
            '/vue.js',
            '/app.js',
            '/NoSleep.min.js',
            '/upup.min.js',
            '/media/ab-crunch.svg',
            '/media/chair-step.svg',
            '/media/high-knees.svg',
            '/media/jumping-jacks.svg',
            '/media/lunge-left.svg',
            '/media/lunge-right.svg',
            '/media/plank.svg',
            '/media/push-up-rotate.svg',
            '/media/push-ups.svg',
            '/media/side-plank-left.svg',
            '/media/side-plank-right.svg',
            '/media/squat.svg',
            '/media/triceps.svg',
            '/media/wall-sit.svg',
            '/media/beep.mp3',
            '/media/10secondsleft.mp3',
            '/media/20secondsleft.mp3',
            '/media/321go.mp3',
            '/media/321stop.mp3',
            '/media/alldone.mp3',
            '/media/beep.mp3',
            '/media/okgetready.mp3',
            '/media/go.mp3',
            '/media/rest10seconds.mp3'

        ]
   });
</script>
</body>
</html>
