body, html {
background: #EEEEEE;
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

#app {
height: 100vh;
display: flex;
flex-direction: column;
background: #FFFFFF;
}

button {
border: 1px solid purple;
background: purple;
color: white;
}

.app-contents {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
max-width: 800px;
margin: 0 auto;
}

.workout-content {
flex: 1 0 auto;
display: flex;
flex-direction: column;
}
.workout-header {
display: flex;
justify-content: space-between;
}
.step-content {
display: flex;
flex-direction: column;
flex: 1 1 auto;
align-items: center;
justify-content: center;
}
.step-graphic {
flex: 1 0 auto;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
margin: 0;
}
.step-graphic img {
animation-name: workout;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.top-menu {
background: purple;
text-align: center;
font-size: 1.5rem;
line-height: 180%;
color: white;
border-bottom: 1px solid rgba(0, 0, 0, 0.75);
box-shadow: 0px 2px 3px #AAAAAA;
}
.logo {
display: inline-block;
height: 1.5rem;
width: 1.5rem;
}
.workouts-list {
list-style: none;
margin: 0;
padding: 0;
}
.workout-trigger {
display: block;
margin: 0 auto;
border-radius: 50%;
font-size: 4rem;
text-shadow: -2px -2px 2px #444444;
width: 300px;
height: 300px;
text-align: center;
box-shadow: 0 3px 8px #aaa, inset 0px 2px 3px #fff;
background-image: linear-gradient(top, #f7f7f7, purple);
}
.workout-trigger:focus {
box-shadow: 0 3px 8px #aaa, outset 0px 2px 3px #fff;

}

.resting {
font-size: 200%;
font-style: italic;
color: rgba(0, 0, 0, 0.5);
}
.step-name {
font-size: 200%;
font-style: italic;
color: rgba(0, 0, 0, 0.75);
margin: 0;
}
.progress-timer {
display: block;
width: 100%;
margin: 0;
height: 1rem;
animation-name: progress;
animation-iteration-count: 1;
animation-timing-function: linear;
}

@keyframes progress {
from {
width: 0;
background: #00DD00;
}
66% {
background: #FFFF00;
}
to {
width: 100%;
background: #CC0000;
}
}
@keyframes workout {
50% {
transform: translateY(1rem);
}
}
.progress-container {
width: 100%;
border: 1px solid #CCCCCC;
border-width: 1px 0;
}
.big-countdown {
font-size: 3rem;
}
.congratulations {
font-size: 3rem;
color: purple;
text-align: center;
}
.routine-progress {
color: purple;
font-weight: normal;
}